

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.list-group-item {
    border: none !important;
    background-color: gray;
}

li a{
    color: white;
    font-size: 24px;
}

li a:hover{
    color:black;
}

a{
    color: black;
}

a:hover{
    color: white;
    text-decoration: none;
}

.back-link a:hover{
    color: lightslategrey;
}


.my-bg-color {
    background-color: #3f51b5;
    color: white;
}

.btn-warning {
    background-color: #3f51b5;
    border: none;
}

    .btn-warning:hover {
        background-color: #2196f3;
        border: none;
    }